/* JOHN.S START 10 DEC 2018
Djupbl�/base: #004890
Anv�nds p� Link titel to subpage och m.fl
*/

// HUVUD TECKENSNITT
$rh-main-font: 		Arial;
$rh-fontsize-title: 1.5em; /* navvigation-card */
$rh-fontsize-content: 1em;

// button standard
$rh-button-fontsize:           1.1em;
$rh-button-padding-left:      2.6rem; /* standard globalt för mellanrum från <icon> <titel> */
$rh-button-padding-top:        0.9rem;

// RH color
$rh-primary-color:	      #004890; /* Djupbl�/base */
$rh-color-white:	        #FFFFFF; /*  */
$rh-color-black:	        #000000; /*  */
$rh-color-djupbla-light:  #B2C8DE; /* Djupbl�/light */
$rh-color-djupbla-base:	  #004890; /* Djupbl�/base */
$rh-color-havsbla-light:  #D0E3F3; /* Havsbl�/light */
$rh-color-grey:	      		#e1e1e1; /* Grey */
$rh-color-grey-light:			#f0f0f0; /* Grey/Light */
$rh-color-green:          #C3DCC1;/* Skogsgrön/light */

// FONT  FÄRG
// MENUS / NAV
/* KONSUMERAS
- Link to subpage
- On Page Navigation
- SubHeader
- MENU NAVIGATION
- Navigation / Mobile f�llbar box

Detta måste jag städa upp till sträng sen... John. Återkommer.
*/
$rh-nav-fontsize-toplevel:			  1.5em; /* Font storlek för navmenu */
$rh-nav-fontsize-sublevel:			  1em; /* Font storlek för navmenu */
$rh-nav-border-parent:			     	#D1D1D1; /* Grey/Light */
$rh-nav-bgcolor-parent-normal:		#004890; /* Djupbl�/base */
$rh-nav-parent-normal-textcolor: 	$rh-color-white;
$rh-nav-bgcolor-second-child: 		$rh-color-white;
$rh-icon-nav-bgcolor-second: 	    #F4F4F4; /* Grey/Lightest */
$rh-nav-border-color:	            #004890; /* Djupbl�/base */

// BORDER
$rh-bordercolor-grey:        	    #F4F4F4; /* Grey/Lightest */
$rh-bordercolor-default:	        #004890; /* Djupbl�/base */

$rh-main-color-subpage-title: 		#004890; /* Link to subpage Djupbl�/base */
$rh-main-color-subpage-content: 	#000000; /* text beskrevning */
$rh-main-color-nav-title: 		  	#004890; /* Djupbl�/base */
$rh-main-color-nav-header:	   		#000000;
$rh-main-color-content: 		    	#000000;

// BAKGRUND
$rh-main-bgcolor: 					      #004890; /* Djupbl�/base */
$rh-main-bordercolor: 		    		#004890;
$rh-subpage-bgcolor: 				      #D0E3F3; /* Havsbl�/light */
$rh-box-bgcolor: 					        #61A2D8; /* Havsbl�/base */


// Titel/Rubrik
$rh-color-link:	          $rh-color-djupbla-base; /* titel färg, ikon */
$rh-color-title:	        $rh-color-djupbla-base; /* Djupbl�/base */


// ICONS FÄRGER & STORLEK
$rh-icon-bgsize:                4rem;
$rh-icon-size:                2.1rem;
$rh-icon-bgcolor:				$rh-color-havsbla-light; /* Havsbl�/light, anv�nds till rund bakgrund för ikoner */
$rh-icon-color: 				$rh-color-djupbla-base; /* ikon streck/kontur f�rg Link to subpage Djupbl�/base */
$rh-icon-bg-toplink:         $rh-color-green; /* top links används på topp länkar ikoner */
//


// HEADER DESKTOP


// HEADER MOBILE



// FOOTER DESKTOP



// FOOTER MOBILE
