/*
MEMO
JOHN  7 DEC 2018
*/


.rh-nav__icon {/* standard global Placera ikonen till höger  */
  	 position: absolute;
  	 right:1%;top:2%;
	  text-align:center;
	  background-color: $rh-icon-nav-bgcolor-second;
	  height: 30px;
	  width: 30px;
	  border-radius: 50%;
	  display: inline-block;
	  overflow:hidden;
	  vertical-align: middle;
	  cursor: pointer;
}




/* SubHeader *********************************************/
.rh-nav__subheader {
	position: relative;
	color: $rh-main-color-nav-header;
}

.rh-nav__subheader--item { /* meny knappen */
	text-align:left;
	position: relative;
	cursor:pointer;
	color: $rh-main-color-nav-header;
	&:hover{ @extend .rh-nav__subheader--item--active; }
}

.rh-nav__subheader--item--active { /* Aktiv underline */
	padding-right:6px;
	text-align:left;
	position: relative;
	cursor:pointer;
	color: $rh-main-color-nav-header;
	border-bottom: 6px solid $rh-main-bordercolor;
}


/* Link to subpage **************************************/
.rh-nav__navigation-card {
    display: block;
	cursour:pointer;
	position:relative;
	a{ text-decoration: none;}
	a:hover{ text-decoration: underline; cursor: pointer;}
}

.rh-nav__navigation-card--title {
	font-weight: bold;
	font-size: 20px;
	color:$rh-main-color-subpage-title;
}

.rh-nav__navigation-card--content {
	padding-right:35px;
	font-size: 15px;
	color:$rh-main-color-subpage-content;
}

.rh-nav__navigation-card--icon {
	cursor:pointer;
	position:absolute;
	right:1%;
	top:1%;
	width:30px;
	height:30px;
}




/*  On Page Navigation ********************************
ej klar 13 dec 2018
*/
.rh-nav-onpage__container{
	position: relative;
	ul{display: inline-block;width:100%;}
	ul li{display: inline-block;width:100%;}
}
.rh-nav-onpage__item{
	width: 100%;
	position: relative;
	border-left: 3px solid #E4E4E4;/* Grey/Lighter */
	&:hover{@extend .rh-nav-onpage__item--active;}
	&:focus{@extend .rh-nav-onpage__item--active;}
		a{display: block;}
}
.rh-nav-onpage__item--active{
	position: relative;
	border-left: 3px solid $rh-nav-border-color;
	border-bottom: 1px solid #e1e1e1;
}
.rh-nav-onpage__item--link{
	width: 100%;
	padding: 10px;
	font-size: 16px;
	display: block;
	text-decoration: none;
	color: $rh-main-color-nav-title;
	a{display: block;}
}



/* MENU NAVIGATION ************************************/
.rh-nav__second-parent { /* A Parent */
	position: relative;
	background: $rh-nav-bgcolor-parent-normal;
	padding: 10px;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: bold;
	font-size: $rh-nav-fontsize-sublevel;
 	a {
	display: block;
	text-decoration: none;
	color:$rh-nav-parent-normal-textcolor;}
}


.rh-nav__second-child { /*AB Child */
	position: relative;
	background: #FFF;
	padding: 10px;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: normal;
	font-size: $rh-nav-fontsize-sublevel;
	border: 1px solid #D1D1D1;

	a{display: block;
	  text-decoration: none;
	  color: #000000;}

	 &:hover{ @extend .rh-nav__second-child--active; }
}


.rh-nav__second-child--active { /*AB Child */
	position: relative;
	background: #D0E3F3;
	padding: 10px;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: bold;
	font-size: $rh-nav-fontsize-sublevel;
	border: 1px solid #D1D1D1;

		a{display: block;
		text-decoration: none;
		color: #000000;}
	}

.rh-nav__second-child--sublevel { /*ABC Child/Sublevel */
	position: relative;
	background: #F5F8FB;
	padding: 10px;
	padding-left:26px;
	font-family: $rh-main-font;
	font-size: $rh-nav-fontsize-sublevel;
	border-left: 6px solid $rh-main-bordercolor;
    border-right: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;

	 	a{display: block;
		text-decoration: none;
		color: #000000;}
	}






/* Navigation / Mobile fällbar box  ***************/
.rh-nav-mob__box--container { position: relative;}
.rh-nav-mob__box--content {padding:10px;font-size:1em;}

.rh-nav-mob__box--normal {
	position: relative;
	background: #F4F4F4; /* Grey/Lightest */
	padding: 10px;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: bold;
	font-size: $rh-nav-fontsize-sublevel;
	border-left: 4px solid #61A2D8;

			a{display: block;
		  text-decoration: none;
		  color: #000000;}
}

.rh-nav-mob__box--active { /*AB */
	position: relative;
	background: $rh-box-bgcolor; /* Havsblå/base */
	padding: 10px;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: bold;
	font-size: $rh-nav-fontsize-sublevel;
	border-left: 4px solid #61A2D8;
	color:#FFFFFF;

	a{display: block;
		text-decoration: none;
		color: #FFFFFF;}
}
/* end mobile fällbar box */


/* ej klart 17 dec */
.rh-nav-mob__subpage {
	width: 100%;
	border-top: 1px solid $rh-color-djupbla-light;
	border-bottom: 1px solid $rh-color-djupbla-light;
	padding: 10px;
	background-color: $rh-color-havsbla-light;
	font-family: $rh-main-font;
	font-style: normal;
	font-weight: bold;
		a{display: block;}
}
.rh-nav-mob__subpage--link{	width: 100%;display: block; text-decoration: none; color: #000000;}
