/* Detta bestämmer hur layouten ska se ut, font typ, stil, ram */

body, html {font-family: $rh-main-font;}


/* rh COLOR *****************************************/
.rh-color__base {color:$rh-color-djupbla-base;}
.rh-color__havsbla-base{color: $rh-color-havsbla-light;} /* Havsblå/base */
.rh-color__djupbla-light{color: $rh-color-djupbla-light;} /* Djupblå/light */

.rh-color-title {color:$rh-color-djupbla-base;}
.rh-color-content {color:$rh-color-black;}

/* text */
.rh-text-link {color:$rh-color-djupbla-base; text-decoration: none;}

/* BAKGRUND *********************************/
.rh-bg__icon {background-color: $rh-color-havsbla-light;}
.rh-bg__button {background-color: $rh-color-djupbla-base;}

.rh-bg__havsbla{background-color: $rh-color-havsbla-light;} /* Havsblå/light */
.rh-bg__djupbla{background-color: $rh-color-djupbla-base;} /* Djupblå/base */
.rh-bg__white{background-color:$rh-color-white;}
.rh-bg__black{background-color:$rh-color-black;}
.rh-bg__grey{background-color:$rh-color-grey;}
.rh-bg__grey-light{background-color:$rh-color-grey-light;}


.bg-norepeat {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* buttons etc ****************************************/
.rh-button {
  position: relative;
  cursor: pointer;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background:none;
  border:0;
  border-radius:0;
  font-size:inherit;
  line-height:1;padding:0;
}
