/* Detta bestämmer hur layouten ska se ut, font typ, stil, ram */

body, html {font-family: $rh-main-font;}



/* rh COLOR *****************************************/
.color-havsbla-base{color: #61A2D8;} /* Havsblå/base */
.color-djupbla-light{color: #B2C8DE;} /* Djupblå/light */

/* BAKGRUND *********************************/
.bg-havsbla{background-color: #D0E3F3;} /* Havsblå/light */
.bg-djupbla{background-color: #D0E3F3;} /* Djupblå/base */

.bg-white{background-color:#FFF;}
.bg-black{background-color:#000;}
.bg-grey{background-color:#CCC;}
.bg-grey-light{background-color:#e1e1e1;}


.bg-norepeat {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* buttons etc ****************************************/
.rh-button {
  position: relative;
  cursor: pointer;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background:none;
  border:0;
  border-radius:0;
  font-size:inherit;
  line-height:1;padding:0;
}
