





/* IKONER ***************************
https://feathericons.com/
https://github.com/feathericons/feather#feather
*/
.rh-icon__bg{/* rund bakgrund till ikonen */
  text-align:center;
  height:$rh-icons-size;
  width:$rh-icons-size;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: $rh-icons-bgcolor;
 }

 
 .rh-icon__bg-circle{/* rundbakgrund till ikonen */
  text-align:center;
  height: $rh-icons-size;
  width: $rh-icons-size;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
 }


 .rh-icon__right {/* standard global Placera ikonen till höger  */
    position: absolute;
    right:4%;top:18%;
   text-align:center;
   height: $rh-icons-size;
   width:$rh-icons-size;
   display: inline-block;
   overflow:hidden;
   vertical-align: middle;
   cursor: pointer;
 }
 .rh-icon__left {/* standard global Placera ikonen till höger  */
   position: absolute;
   left:1%;top:18%;
  text-align:center;
  height: $rh-icons-size;
  width: $rh-icons-size;
  display: inline-block;
  overflow:hidden;
  vertical-align: middle;
  cursor: pointer;
 }



.rh-icon__size-standard {width:16px; height:16px;position: absolute;top:25%;left:22%;}
.rh-icon__size-10 {width:10px; height:10px;}
.rh-icon__size-16 {width:16px; height:16px;position: absolute;top:25%;left:22%;}
.rh-icon__size-20 {width:20px; height:20px;}
.rh-icon__size-30 {width:$rh-icons-size; height:$rh-icons-size;}
.rh-icon__size-40 {width:40px; height:40px;}
.rh-icon__size-50 {width:50px; height:50px;}


/* BAKGRUND *********************************/
.rh-bg-icon-subpage {background-color: $rh-subpage-bgcolor;}
