/*
7 dec 2018 - JOHN

*/

.display-table{
	position:relative;
	display:table;}

/* BOX *****************************************************/
.rh-box__container{
	width: 100%;
	font-family: $rh-main-font;
	position:relative;
	display:table;
	ul{list-style:none;}
}
